{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Region stat</title>
    <link href="{% static 'css/view.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3 class="text-center mt-2">Статистика по региону {{ region_name }}</h3>
    <table id="comments" class="mt-4">
        <tr>
            <th>Город</th>
            <th>Количество комментариев</th>
        </tr>
        {% for city in statistics %}
            <tr>
                <td>{{ city.city }}</td>
                <td>{{ city.count }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
